<section data-ng-controller="ConsultaTareaController" ng-init="asignar = false;">
	<form>
		<div class="panel panel-default" style="overflow: hidden;">
			<div class="panel-heading" >
				<h1 class="panel-title"> <b>Tarea</b> : {{tarea.nombre}} <md-button class="md-warn" ng-click="volver()">Regresar</md-button> </h1>
			</div>
		</div>
		<div class="panel-body">
			<div class="container">
				<div class="col-md-6">
					<fieldset>
						<legend>Datos Generales:</legend>
						<label>Nombre</label>
						<input class="form-control" value="{{tarea.nombre}}" ng-model="tarea.nombre" ng-readonly="!permisos.verificarPrivilegio('Tareas','update','data')" ng-change="habilitarEdicion()">
						<label>Descripcion</label>
						<textarea class="form-control" style="width:100%" ng-model="tarea.descripcion" ng-readonly="!permisos.verificarPrivilegio('Tareas','update','data')" ng-change="habilitarEdicion()" > {{tarea.descripcion}} </textarea> 
						<br>
						<div ng-class=" (tarea.status =='Terminada' || tarea.status =='Cancelada') ? '' : 'col-md-6' ">
							<label>Tipo</label>
							<select class="form-control" ng-change="habilitarEdicion()" ng-model="tarea.tipo" ng-disabled="!permisos.verificarPrivilegio('Tareas','update','data')">
								<option value="Planificada">Planificada</option>
								<option value="Mejora">Mejora</option>
								<option value="Correccion">Correccion</option>
							</select>
						</div>
						<div class="col-md-6" ng-show="tarea.status !='Terminada' && tarea.status !='Cancelada'">
							<label>Estado</label>
							<select class="form-control" ng-change="habilitarEdicion()" ng-model="tarea.status" ng-disabled="!permisos.verificarPrivilegio('Tareas','update','status')" >
								<option value="Espera">En espera</option>
								<option value="Proceso">En proceso</option>
								<option value="Pausa">En pausa</option>
							</select>
							<br>
						</div>
						<div class="row">
							<small>Fecha de creacion:   {{ tarea.creacion | date:'yyyy-MM-dd - hh:mm:ss' }} </small> <br>
							<small>Fecha de compromiso: {{ tarea.compromiso | date:'yyyy-MM-dd' }} </small> <br>
							<small ng-show="tarea.status =='Terminada'"> <b> Fecha de terminacion: {{ tarea.terminado | date:'yyyy-MM-dd - hh:mm:ss' }} </b> <br> </small> 
							<small ng-show="tarea.status =='Cancelada'"> <b> Fecha de cancelacion: {{ tarea.terminado | date:'yyyy-MM-dd - hh:mm:ss' }} </b> <br> </small> 
							<small>Creada por: {{tarea.usuario_creacion.username}}</small>
							<br>
						</div>
						<div class="row" ng-show="tarea.status !='Terminada' && tarea.status !='Cancelada'">
							<md-button class="md-raised md-primary pull-right" ng-click="finalizarTarea('Terminada')" ng-show="permisos.verificarPrivilegio('Tareas','update','status')"> 
								<span class="glyphicon glyphicon-ok-circle GlyphButton"></span> Terminar
							</md-button>
							<md-button class="md-raised md-danger pull-right" ng-click="finalizarTarea('Cancelada')" ng-show="permisos.verificarPrivilegio('Tareas','delete')"> 
								<span class="glyphicon glyphicon-remove-circle GlyphButton"></span> Cancelar
							</md-button>
						</div>
					</fieldset>
				</div>
				<div class="col-md-5">
					<fieldset>
						<legend>Etiquetas de la tarea</legend>	
						<div class="row">
							<div class="col-md-12">
								<button class="btn btn-success pull-right bt-sm" ng-click="ModalEtiquetasOpen( '{{proyecto._id}}' )"><span class="glyphicon glyphicon-plus" style="color:green" ></span> Nueva etiqueta</button>
							</div>
						</div>
						<br>
						<div class="container col-md-12">
							<uib-accordion close-others="true" ng-repeat="etiqueta in etiquetas">
								<uib-accordion-group heading="{{etiqueta.nombre}}" panel-class="{{etiqueta.tagclass}}">
									<small><i>{{ etiqueta.creacion | date:'yyyy-MM-dd HH:mm:ss' }}</i> - <b> {{etiqueta.usuario.username}} </b></small>
							   		<p> {{etiqueta.contenido}} </p>
							    	<button class="btn pull-right" ng-click="borrarEtiqueta( '{{ etiqueta._id }}' )">Descartar</button>
								</uib-accordion-group>
							</uib-accordion>
						</div>
					</fieldset>
				</div>
			</div>
			<br>
			<div style="text-align:center;">
				<div class="well well-lg" uib-collapse="!Cambios">
					<md-button class="md-raised md-primary" ng-click="guardarCambios()">Guardar cambios</md-button>
					<md-button class="md-raised md-danger"  ng-click="descartarCambios()">Descartar</md-button>
				</div>
			</div>
			<br>
			<div class="panel panel-default">
				<div class="panel-heading" >
					<h1 class="panel-title">Proyectos y usuarios asignados</h1>
				</div>
				<div class="panel-body">
					<div ng-show="loading" layout="row" layout-sm="column" layout-align="space-around">
						<md-progress-circular md-mode="indeterminate"></md-progress-circular>
					</div>
					<div ng-hide="loading">
						<div class="row" ng-show="permisos.verificarPrivilegio('Tareas','update','users')">
							<md-switch ng-model="asignar" aria-label="Switch 1" class="md-block"> 
								<b ng-show="asignar">Edicion de usuarios y proyectos habilitada </b>
								<b ng-show="!asignar">Edicion de usuarios y proyectos deshabilitada</b>
							</md-switch>
						</div>
						<div class="col-md-6">
							<label> <b>Proyectos</b> </label>
							<table class="table table-striped">
								<th>Nombre</th>
								<th class="text-center" ng-show="permisos.verificarPrivilegio('Proyectos','read')">Consultar</th>
								<th ng-show="asignar" class="text-center">Remover</th>
								<tr ng-repeat="proyecto in tarea.proyectos">
									<td>{{proyecto.nombre}}</td>
									<td class="text-center" ng-show="permisos.verificarPrivilegio('Proyectos','read')"> <p> <a title="Consultar proyecto" class="glyphicon glyphicon-list-alt GlyphButton" href="#!/view-proyect/{{proyecto.id}} "></a></p> </td>
									<td ng-show="asignar" class="text-center"><p title="Quitar proyecto" class="glyphicon glyphicon-remove-sign GlyphButton" style="color:red" ng-click="quitarProyecto( '{{proyecto.id}}' )"></p></td>
								</tr>
							</table>
							<select class="form-control" ng-change="addProyecto()" ng-model="proyecto.seleccion" ng-show="asignar"> 
								<option ng-repeat="proyecto in proyectos" value="{{ {id: proyecto._id, nombre : proyecto.nombre} }}">{{proyecto.nombre}}</option>
							</select>
						</div >
						<div class="col-md-6">
							<label> <b>Usuarios</b> </label>
							<table class="table table-striped">
								<th>Nombre</th>
								<th ng-show="asignar" class="text-center">Remover</th>
								<tr ng-repeat="usuario in tarea.usuarios_asignados">
									<td>{{usuario.nombre}}</td>
									<td ng-show="asignar" class="text-center"><p title="Quitar usuario" class="glyphicon glyphicon-remove-sign GlyphButton" style="color:red" ng-click="quitarUsuario( '{{usuario.id}}' )"></p></td>
								</tr>
							</table>
							<select class="form-control" ng-change="addUsuario()" ng-model="usuario.seleccion" ng-show="asignar">
								<option ng-repeat="usuario in usuarios" value="{{ {id: usuario._id, nombre : usuario.username} }}">{{usuario.username}}</option>
							</select>
						</div>
						<br>
					</div>
				</div>
			</div>
		</div>
	</form>
</section>