<section data-ng-controller="TareasController">
	<div class="panel panel-default" style="overflow: hidden;">
		<div class="panel-heading" >
			<h1 class="panel-title">Tareas</h1>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-12 text-center" ng-show="permisos.verificarPrivilegio('Tareas','create')"> 
					<button class="btn btn-primary" data-ng-click="ModalTareasOpen()">Crear nueva tarea</button> 
				</div>
			</div>
			<div class="container">
				<h3 class="panel-title">Listado de tareas</h3>	
				<br>
			</div>
			<div class="row">
				<label>  Ver:</label>
				<uib-tabset>
					<uib-tab select="CargarTabla(0)" heading="Tareas activas"></uib-tab>
					<uib-tab select="CargarTabla(1)" heading="En Espera"></uib-tab>
					<uib-tab select="CargarTabla(2)" heading="En Proceso"></uib-tab>
					<uib-tab select="CargarTabla(3)" heading="En Pausa"></uib-tab>
					<uib-tab select="CargarTabla(4)" heading="Terminadas"></uib-tab>
					<uib-tab select="CargarTabla(5)" heading="Cancelada"></uib-tab>
				</uib-tabset>
				<div ng-show="loading" layout="row" layout-sm="column" layout-align="space-around">
					<md-progress-circular md-mode="indeterminate"></md-progress-circular>
				</div>
				<br>
			</div>
			<div class="col-md-12" ng-hide="loading">
				<table class="table table-striped">
					<th>Nombre</th>
					<th ng-show="showstatus">Estado</th>
					<th>Tipo</th>
					<th>Usuarios</th>
					<th>Proyectos</th>
					<th class="text-center">Creacion</th>
					<th class="text-center" ng-show="tabIndex==4 || tabIndex==5"> <span ng-if="tabIndex==4 ">Terminada</span> <span ng-if="tabIndex==5 ">Cancelacion</span></th>
					<th class="text-center">Consultar</th>
					<!--Opciones para administrador-->
					<!--<th class="text-center">Acciones</th>-->
					<tr ng-repeat="tarea in tareas" ng-style="!tarea.publico && {'background-color':'#ffe5e5'}" >
						<td>
							{{tarea.nombre}}
						</td>
						<td ng-show="showstatus">
							<span class="glyphicon glyphicon-time" ng-show="tarea.status === 'Espera'"></span>
							<span class="glyphicon glyphicon-play-circle" ng-show="tarea.status === 'Proceso'"></span>
							<span class="glyphicon glyphicon-pause" ng-show="tarea.status === 'Pausa'"></span>
							{{tarea.status}}
						</td>
						<td>
							{{tarea.tipo}}
						</td>
						<td>
							<ul>
								<li ng-repeat="usuario in tarea.usuarios_asignados"> {{usuario.nombre}}</li>
							</ul>
						</td>
						<td>
							<ul>
								<li ng-repeat="proyecto in tarea.proyectos"> {{proyecto.nombre}}</li>
							</ul>
						</td>
						<td class="text-center">
							{{tarea.creacion | date:'yyyy-MM-dd hh:mm'}}
						</td>
						<td class="text-center" ng-show="tabIndex==4 || tabIndex==5">
							{{tarea.terminado | date:'yyyy-MM-dd hh:mm'}}
						</td>
						<td class="text-center">
							<p> <a title="Ver datos de la tarea" class="glyphicon glyphicon-list-alt GlyphButton" href="#!/view-tarea/{{tarea._id}} "></a></p>
						</td>
						<!--<td class="text-center">
							<p title="Editar Proyecto" class="glyphicon glyphicon-edit GlyphButton" data-ng-click="ModalProyectoOpen( '{{proyecto._id}}' )"></p>
							<p title="Eliminar proyecto" class="glyphicon glyphicon-remove-sign GlyphButton" style="color:red" ng-click=" borrarProyecto($event, '{{proyecto._id}}', '{{proyecto.nombre}}')"></p>
						</td>-->
					</tr>
				</table>
			</div>
		</div>
	</div>
</section>