<section data-ng-controller="ProyectosController">
	<div class="panel panel-default" style="overflow: hidden;">
		<div class="panel-heading" >
			<h1 class="panel-title">Proyectos</h1>
		</div>
		<div class="panel-body">
			<div class="container">
				<h3 class="panel-title">Listado de proyectos</h3>	
			</div>
			<div class="container">
				<table class="table table-striped">
					<th>Usuario</th>
					<th>Nombre</th>
					<th>Correo</th>
					<th>Consultar</th>
				</table>
			</div>
			
		</div>
	</div>
</section>