<section data-ng-controller="ProyectosController">
	<div class="panel panel-default" style="overflow: hidden;">
		<div class="panel-heading" >
			<h1 class="panel-title">Proyectos</h1>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-12 text-center"> 
					<button class="btn btn-primary" data-ng-click="ModalProyectoOpen()">Crear nuevo proyecto</button> 
				</div>
			</div>
			<div class="container">
				<h3 class="panel-title">Listado de proyectos</h3>	
			</div>
			<div ng-show="loading" layout="row" layout-sm="column" layout-align="space-around">
				<md-progress-circular md-mode="indeterminate"></md-progress-circular>
			</div>
			<div ng-hide="loading" class="col-md-12">
				<table class="table table-striped">
					<th class="text-center">Nombre</th>
					<th class="text-center">Descripcion</th>
					<th class="text-center">Creacion</th>
					<th class="text-center">Usuario</th>
					<th class="text-center">Consultar</th>
					<!--Opciones para administrador-->
					<th class="text-center">Acciones</th>
					<tr ng-repeat="proyecto in proyectos" ng-style="!proyecto.publico && {'background-color':'#ffe5e5'}" >
						<td class="text-center">
							{{proyecto.nombre}}
						</td>
						<td class="text-center">
							{{proyecto.descripcion}}
						</td>
						<td class="text-center">
							{{proyecto.creacion | date:'yyyy-MM-dd'}}
						</td>
						<td class="text-center">
							{{proyecto.usuario}}
						</td>
						<td class="text-center">
							<p> <a title="Consulta privilegios" class="glyphicon glyphicon-list-alt GlyphButton" href="#!/view-proyect/{{proyecto._id}} "></a></p>
							 <!--glyphicon glyphicon-list-alt-->
						</td>
						<td class="text-center">
							<p title="Editar Proyecto" class="glyphicon glyphicon-edit GlyphButton" data-ng-click="ModalProyectoOpen( '{{proyecto._id}}' )"></p>
							<p title="Eliminar proyecto" class="glyphicon glyphicon-remove-sign GlyphButton" style="color:red" ng-click=" borrarProyecto($event, '{{proyecto._id}}', '{{proyecto.nombre}}')"></p>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</section>