<section data-ng-controller="ProyectosController">
	<div class="panel panel-default" style="overflow: hidden;">
		<div class="panel-heading" >
			<h1 class="panel-title">Proyectos</h1>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-12 text-center"> 
					<button class="btn btn-primary">Crear nuevo proyecto</button> 
				</div>
			</div>
			<div class="container">
				<h3 class="panel-title">Listado de proyectos</h3>	
			</div>
			
			<div class="container">
				<table class="table table-striped">
					<th>Nombre</th>
					<th>Descripcion</th>
					<th>Creacion</th>
					<th>Usuario</th>
					<th>Consultar</th>
					<!--Opciones para administrador-->
					<th>Editar</th>
					<th>Borrar</th>
				</table>
			</div>
		</div>
	</div>
</section>